body {
    margin: 0;
}
.batdau {
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    background-image: url(figma/bgr.png);
    height: 1023px;
    width: 100%;
}

.header {

   border-bottom: 5px solid #d9d9d9;
   
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 110px;
}

.netflix_icon {
    display: flex;
    width: 225px;
    height: 120px;
    cursor: pointer;
}
.header .netflix_icon img {
    width: 85%;
    margin-top: -16px;
}
.DN {
   margin: 0 3%;
   list-style: none;
}
.header button:hover {
    background-color: #B80D16;
}
.header button {
    background-color: #E50914;
    height: 55px;
    width: 180px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 46px;
    border: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    cursor: pointer;
    margin-top: 23px;
 
 }
 .footer {
    display: block;
    
}

.nav1 {
    margin: 0 auto;
    max-width: 600px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 50px;
    margin-left: 420px;
}
.content {
    color: #fff;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: -7px;
  
}
h1 {
    font-size: 15px;
    font-weight: 100;
}
h2 {
    font-size: 35px;
    max-width: 500px;
    margin-top: 12px;
}
p {
    line-height: 40px;
    margin-top: -20px;
    font-size: 20px;
    max-width: 550px;
}

form {
    padding: 0px 44px 0px 86px;
}
.nav1 .box input {
    background: #737373;
    border: 0;
    border-radius: 5px;
    height: 30px;
    left: -20px;
    width: 30px;
}
.nav1 .input_box input {
    color: #fff;
}
h5 {
    color: #fff;
    font-size: 18px;
    margin-top: -57px;
    font-weight: 400;
}
.nav1 input { 
    height: 68px;
    width: 506px;
    margin-top: 0px;
    margin-left: -42px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 15px 22px;
    box-sizing: border-box;
    outline: none;
}
.nav1 button:hover {
    background-color: #B80D16;
}
.nav1 button {
    background-color: #E50914;
    border: none;
    box-sizing: border-box;
    width: 100%;
    margin-left: 45px;
    margin-top: -35px;
    height: 74px;
    width: 506px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    letter-spacing: 0!important;
    border-radius: 10px;
    color: #fff;
    list-style: none;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}
.footer1 {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 86px;
    padding-top: 12px;
    opacity: 1;
    border-top: 1px solid #d9d9d9;
    background: #f3f3f396;


}
.footer1 h2 {
    font-size: 18px;
    margin-left: 170px;
    font-weight: 500;
    
    
}
.row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 170px;
    
}
.row a {
    color: #000000d4;
    list-style: none;
    font-weight: 450;
    text-decoration: none;
}
.global{
    position: absolute;
    margin-top: 36px;
    margin-left: 190px;
}

select{
    background: #fff;
    height: 55px;
    width: 170px;
    color: #000000d4;
    font-weight: 400;
    font-size: 18px;
    padding-left: 15px;
    padding-left: 46px;
    border-radius: 4px;
    margin-left: 170px;
    margin-top: 20px;
}